header {
    width: 100%;
    font-size: 50px;
    border: 2px solid;
}

.main {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 60vw;
}

.content {
    display: flex;
}

.dropbtn{
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

.careerDropdownMenu{
    position: relative;
    display: inline-block;
}

.careerDropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .careerDropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .careerDropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

/* .hidden {
    display: none;
} */