* {
    margin: 0%;
    padding: 0%;
}

.hidden {
    display: none;
}

body {
    background-color: #9FCDEE;
}

header {
    width: 100%;
    font-size: 32px;
    border: 2px solid;
    padding-bottom: 5%;
    background-color: #B4DAE3;
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 30px 30px 0px 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.mainBox {
    display: flex;

    flex-direction: column;
    /* margin:10px 100px 10px 10px; */
}

.totalresults {
    display: flex;
    flex-flow: column nowrap;
    background-color: #005ECD;
    height: 25vh;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}

.totalresults h3 {
    font-size: 35px;
}

.resultsInterval {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
}

.resultsInterval h2 {
    color: #FFFFFF;
    font-size: 35px;
}

.row h3 {
    background-color: black;
    border: none;
    padding: 5px ;
    margin-top: 0%;
    /* margin-bottom: 5%; */
}

.row {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #9FCDEE;
    width: 635px;
}

.row>input {
    background-color: black;
    border: none;
    color: white;
    margin-top: 0%;
    margin-bottom: 5%;
}
.DropDownArrow {
    width: 35px;
    height: 30px;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    /* height: 20vw; */
}

.optionTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: solid;
}

.optionBox {
    background-color: #82B5F2;
}

.optionMenu {
    padding: 15px;
}



.Dropdown {
    border: solid;
    padding: 10px;
}

.dropdownPress {
    background-color: rgba(0,0,0,0);
    border: none;
}

.dropdownInputs h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdownTotal {
    padding-top: 10px;
    padding-bottom: 10px;
}

.intervalRow {
    display:flex;
    justify-content: flex-end;
}

.careerRow {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.interval {
    background-color: #98DFF5 ;
}

.percentage {
    border-style: solid;
    border-width: 3px;
    background-color: #005ECD;
    margin-left: 15%;
    width: 450px;
}

.percentage h2{
    padding:10px;
    color: white;
}

.percentage h3{
    padding:10px;
}

.pieChartRow{
    display: flex;
    flex-direction: row;
}

.pieChart{
   margin-top:5%;
}

.pieChartColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pieChartColumn h2 {
    color: white;
}

.pie{
    margin-left:10%;
}